#cart-container{
  position: relative;
  height: 60px;
  width: 60px;
  background-color: pink;
  border-radius: 50%;
  border: pink solid;
}
#cart-container img{
  position: absolute;
  width: 85%;
  left: 5%;
  top: 6%;
}
#cart-container span{
  position: absolute;
  right: -4px;
  top:-9px;
  background-color: rgb(255, 82, 111);
  color: white;
  height: 20px;
  width: 20px;
  text-align: center;
  border-radius: 50%;
  line-height: 20px;
  justify-content: center;
}

#title-ItemListContainer{
  text-align: center;
  margin: 100px;
}